.box {
          width: 100%;
          margin-right: auto;
          margin-left: auto;
          display: flex;
          align-items: baseline;
          justify-content: space-between;
}

.form-group {
          width: 80%;
          margin-top: 30px;
          padding: 0%;
}

@media screen and (max-width: 578px) {
          .box {
                    display: block;
          }

          .form-group {
                    width: 100%;
          }

}


/* .mat-form-field.mat-focused .mat-form-field-label {
          background-color: black !important;
} */