.box {
          width: 100%;
          margin-right: auto;
          margin-left: auto;
          align-items: baseline;
          justify-content: space-between;
}

form {
          display: block;
          align-items: flex-end;
          justify-content: space-around;
}

.form-secondary {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          margin-top: 50px;
}

.form-group {
          width: 100%;
          margin-top: 30px;
          padding: 0%;
}

.form-field {
          width: 40%;
}

.box-submit {
          width: 100%;
          margin-right: auto;
          margin-left: auto;
          margin-top: 50px;
          text-align: center;
}

@media screen and (max-width: 578px) {
          .box {
                    display: block;
          }

          .form-group {
                    width: 100%;
          }

}


/* .mat-form-field.mat-focused .mat-form-field-label {
          background-color: black !important;
} */