<div class="toolbar" role="banner">
          <div class="toolbar-title">
                    <img alt="Logo" id="logo" src="https://www.original.com.br/img/icons-svg/logo-branco.svg" />
                    <span>Bem-Vindo</span>
          </div>
          <a aria-label="My Life" target="_blank" rel="noopener" href="https://github.com/vmontanha" title="Github">

                    <img src="https://www.nicepng.com/png/full/52-520535_free-files-github-github-icon-png-white.png"
                              alt="">

          </a>
</div>

<app-loader-spinner></app-loader-spinner>

<div class="content" role="main">
          <app-table-rotation></app-table-rotation>

          <app-form-group></app-form-group>
</div>